################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SE_core/SE_core/__pycache__/bd.cpython-39.pyc
/SE_core/SE_core/__pycache__/utils.cpython-39.pyc
