<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video game recommendation expert system</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div style="text-align: center">Video game recommendation expert system</div>
        </div>
    </nav>

<div class = "container">
    <div class = "row h-100 justify-content-center align-items-center">
        <div class = "col-md-8 col-md-offset-8">
            <br>
            <br>

        <h1 style="font-size: x-large; margin-bottom: 2rem"> Answer these questions to get a video game recommendation </h1>

            <form method="post" action="/">

                <div class="form-group" style="margin-bottom: 2rem">
                    <label for="varsta"> What is your age? </label>
                    <input type="text" class="form-control" id="varsta" name="varsta">
                </div>

                <div style="margin-bottom: 0.5rem"> Do you like to play alone or with your friends? </div>
                <div class="form-check" style="margin-bottom: 0.5rem">
                <input class="form-check-input" type="radio" value="multiplayer_no" id="multiplayer_no" name="multiplayer">
                <label class="form-check-label" for="multiplayer_no">
                    I like to play alone
                </label>
                </div>

                <div class="form-check" style="margin-bottom: 0.5rem">
                <input class="form-check-input" type="radio" value="multiplayer_yes" id="multiplayer_yes" name="multiplayer">
                <label class="form-check-label" for="multiplayer_yes">
                    I like to play with my friends
                </label>
                </div>

                <div class="form-check" style="margin-bottom: 2rem">
                <input class="form-check-input" type="radio" value="multiplayer_both" id="multiplayer_both" name="multiplayer">
                <label class="form-check-label" for="multiplayer_both">
                    I like to play both alone and with my friends
                </label>
                </div>


                <div style="margin-bottom: 0.5rem"> What gaming platforms you prefer? </div>
                <div class="form-check" style="margin-bottom: 0.5rem">
                <input class="form-check-input" type="checkbox" value="platforma_pc" id="platforma_pc" name="platforma_pc">
                <label class="form-check-label" for="platforma_pc">
                    PC
                </label>
                </div>

                <div class="form-check" style="margin-bottom: 0.5rem">
                <input class="form-check-input" type="checkbox" value="platforma_ps" id="platforma_ps" name="platforma_ps">
                <label class="form-check-label" for="platforma_ps">
                    Playstation
                </label>
                </div>

                <div class="form-check" style="margin-bottom: 2rem">
                <input class="form-check-input" type="checkbox" value="platforma_xbox" id="platforma_xbox" name="platforma_xbox">
                <label class="form-check-label" for="platforma_xbox">
                    XBox
                </label>
                </div>

                <div class="form-group" style="margin-bottom: 2rem">
                    <label for="producator"> Do you have any preferred video game companies? Write them here. (Company1, Company2, ...) </label>
                    <input type="text" class="form-control" id="producator" name="producator">
                </div>

                {% if my_questions %}

                    {% for keyword in my_questions %}
                        <div style="margin-bottom: 0.5rem"> {{my_questions[keyword]}} </div>
                        <div class="form-check" style="margin-bottom: 0.5rem">
                        <input class="form-check-input" type="radio" value="{{keyword~'_yes'}}" id="{{keyword~'_yes'}}" name="{{keyword}}">
                        <label class="form-check-label" for="{{keyword~'_yes'}}">
                            Yes
                        </label>
                        </div>

                        <div class="form-check" style="margin-bottom: 2rem">
                        <input class="form-check-input" type="radio" value="{{keyword~'_no'}}" id="{{keyword~'_no'}}" name="{{keyword}}">
                        <label class="form-check-label" for="{{keyword~'_no'}}">
                            No
                        </label>
                        </div>
                    {% endfor %}

                {% endif %}

                <button class="btn btn-primary" style="margin-bottom: 4rem">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>