<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platforma alegere jocuri</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div style="text-align: center">Sistem Expert Recomandare Jocuri</div>
        </div>
    </nav>

<div class = "container">
    <div class = "row h-100 justify-content-center align-items-center">
        <div class = "col-md-8 col-md-offset-8">
            <br>
            <br>

        <h1 id="Login_Page"> Alegeti preferintele dumneavoastra </h1>

            <form method="post" action="/">

                <div style="margin-bottom: 0.5rem"> Preferati jocurile multiplayer? </div>
                    <div class="form-check" style="margin-bottom: 0.5rem">
                    <input class="form-check-input" type="radio" value="multiplayer_yes" id="multiplayer_yes" name="multiplayer">
                    <label class="form-check-label" for="multiplayer_yes">
                        Da
                    </label>
                    </div>

                    <div class="form-check" style="margin-bottom: 2rem">
                    <input class="form-check-input" type="radio" value="multiplayer_no" id="multiplayer_no" name="multiplayer">
                    <label class="form-check-label" for="multiplayer_no">
                        Nu
                    </label>
                    </div>

                <div style="margin-bottom: 0.5rem"> Preferati jocurile singleplayer? </div>
                    <div class="form-check" style="margin-bottom: 0.5rem">
                    <input class="form-check-input" type="radio" value="singleplayer_yes" id="singleplayer_yes" name="singleplayer">
                    <label class="form-check-label" for="singleplayer_yes">
                        Da
                    </label>
                    </div>

                    <div class="form-check" style="margin-bottom: 2rem">
                    <input class="form-check-input" type="radio" value="singleplayer_no" id="singleplayer_no" name="singleplayer">
                    <label class="form-check-label" for=singleplayer_no">
                        Nu
                    </label>
                    </div>

                <div style="margin-bottom: 0.5rem">Ce platforma preferati? </div>
                    <div class="form-check" style="margin-bottom: 0.5rem">
                    <input class="form-check-input" type="checkbox" value="platforma_pc" id="platforma_pc" name="platforma_pc">
                    <label class="form-check-label" for="platforma_pc">
                        PC
                    </label>
                    </div>

                    <div class="form-check" style="margin-bottom: 0.5rem">
                    <input class="form-check-input" type="checkbox" value="platforma_ps" id="platforma_ps" name="platforma_ps">
                    <label class="form-check-label" for=platforma_ps">
                        Playstation
                    </label>
                    </div>

                    <div class="form-check" style="margin-bottom: 2rem">
                    <input class="form-check-input" type="checkbox" value="platforma_xbox" id="platforma_xbox" name="platforma_xbox">
                    <label class="form-check-label" for=platforma_xbox">
                        XBox
                    </label>
                    </div>

                    <div class="form-group" style="margin-bottom: 2rem">
                        <label for="producator">Aveti producatori preferati? (Producator1, Producator2, ...) </label>
                        <input type="text" class="form-control" id="producator" name="producator">
                    </div>

                    <div style="margin-bottom: 0.5rem"> Ce categorie de varsta preferati? </div>
                    <div class="form-check" style="margin-bottom: 0.5rem">
                    <input class="form-check-input" type="radio" value="pegi_3" id="pegi_3" name="pegi">
                    <label class="form-check-label" for="pegi_3">
                        PEGI 3
                    </label>
                    </div>

                    <div class="form-check" style="margin-bottom: 0.5rem">
                    <input class="form-check-input" type="radio" value="pegi_7" id="pegi_7" name="pegi">
                    <label class="form-check-label" for="pegi_7">
                        PEGI 7
                    </label>
                    </div>

                    <div class="form-check" style="margin-bottom: 0.5rem">
                    <input class="form-check-input" type="radio" value="pegi_12" id="pegi_12" name="pegi">
                    <label class="form-check-label" for="pegi_12">
                        PEGI 12
                    </label>
                    </div>

                    <div class="form-check" style="margin-bottom: 0.5rem">
                    <input class="form-check-input" type="radio" value="pegi_16" id="pegi_16" name="pegi">
                    <label class="form-check-label" for="pegi_16">
                        PEGI 16
                    </label>
                    </div>

                    <div class="form-check" style="margin-bottom: 2rem">
                    <input class="form-check-input" type="radio" value="pegi_18" id="pegi_18" name="pegi">
                    <label class="form-check-label" for="pegi_18">
                        PEGI 18
                    </label>
                    </div>

                <button class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>